/* Reset styles */
@import url("reset.css");
/* Connect fonts */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:regular,500,700,800&display=swap");
/* Styles */
body {
  font-family: "Plus Jakarta Sans";
  color: #eee;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
main {
  flex-grow: 1;
  background-color: white;
}
/* [class*="listStyle"] {
} */
/*header*/
header {
  max-height: 30vh;
  background-color: #222831;
  background-position: center;
  background-repeat: repeat;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}
.logo {
  background-color: #1d222a;
  padding: 5px;
  border-radius: 5px;
}
.logo a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #0053d0;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.logo a:hover::after {
  width: 100%;
}
h2{
  font-size: 22px;
}
nav ul {
  display: flex;
  gap: 40px;
}
nav li {
  list-style: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #1d222a;
  padding: 5px;
  border-radius: 5px;
}
nav li:hover {
  background-color: black;
}
nav li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #0053d0;
  display: block;
  margin: auto;
  transition: 0.5s;
}
nav li:hover::after {
  width: 100%;
}
.nav-links{
  display: flex;
}
.text-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.text-box h1 {
  font-size: 55px;
}
.text-box p {
  font-size: 25px;
}

.hero-btn {
  width: max-content;
  margin: 20px auto;
  border: 2px solid white;
  border-radius: 10px;
  padding: 15px 40px;
  cursor: pointer;
  transition: 0.7s;
}
.hero-btn:hover {
  border: 2px solid;
  background: #0053d0;
  transition: 0.5s;
}
nav .fa {
  display: none;
}
.fa-regular{
  height: 50px;
}
@media screen and (max-width: 700px) {
  header {
    height: 50vh;
  }
  nav li::after {
    background: #222831;
  }
  nav ul {
    flex-direction: column;
    gap: 20px;
  }
  .nav-links {
    position: absolute;
    background-color: #0053d0;
    min-height: 30vh;
    width: 25vw;
    border-bottom-left-radius: 100%;
    top: 0vh;
    right: -40vw;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    cursor: pointer;
    top: 0;
    padding: 5px;
  }
  .fa-bars {
    right: 41vw;
  }
  .fa-times {
    right: 1vw;
  }
  .nav-links ul {
    margin: 15 0 0 0px;
    padding: 35px;
  }
  .nav-links li a {
    padding: 10px;
  }
}
/* components */
main {
  background-color: #1d222a;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  min-height: 100dvh;
}
.toDoSection {
  margin: 20px auto;
  min-width: 80vw;
}
.label {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  margin-bottom: 2vh;
}
.listDiv {
  margin: 20px 0;
  display: flex;
  padding: 2vw;
  flex-direction: column;
  align-items: center;
}
.listDiv ul {
  border-radius: 15px;
}
.toDoInput {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.inputBox {
  height: max-content;
  width: 30vw;
  border: 2px solid;
  border-radius: 20px;
  font-size: 20px;
  color: #222831;
  padding: 2vh 2vw;
}
.fa:before {
  font-size: 100px;
}
.input-container {
  display: flex;
}
.fa-folder-plus::before {
  color: #d3d3d3;
  transition: 0.5s;
}
.fa-folder-plus:hover::before {
  color: #e6e5e5;
  transition: 0.5s;
  border-radius: 50%;
  filter: drop-shadow(4px 4px black);
}
.fa-folder-plus:active::before {
  color: #ffffff;
}
.listContainer:empty{
  border: 0px;
}
.removeAllButton{
  display:block;
  margin: 10px auto;
  transition: 0.7s;
}
.removeAllButton:hover{
  color: red;
  transition: 0.5s;
}
.removeButton{
  transition: 0.7s;
}
.removeButton:hover{
  color: red;
  transition: 0.5s;
}
.listContainer {
  border: 2px solid black;
  max-width: 500px;
  font-size: 24px;
  background-color: white;
}
.listContainer li {
  width: 27vw;
  font-family: "Ubuntu", sans-serif;
  padding: 15px 35px;
  border-radius: 15px;
  margin: 10px;
  color: #222831;
  position: relative;
  word-wrap: break-word; /*think to break words when it sooo long */
}
.listContainer li::before {
  content: "";
  position: absolute;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-image: url(/img/unchecked.svg);
  background-size: cover;
  background-position: center;
  top: 10px;
  left: 0px;
}
ul li.checked {
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(/img/checked.svg);
}
ul li span {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50px;
  font-size: 50px;
  text-align: center;
  color: black;
  border-radius: 50%;
  transition: 0.5s;
}
ul li span:hover {
  background-color: rgba(128, 128, 128, 0.77);
}
.OnlyList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.inputDate{
  background-color: transparent;
  color:#0053d0;
  display: block;
  margin: auto;
  font-family:'Times New Roman', Times, serif;
  padding: 0 5px;
}
@media screen and (max-width: 700px) {
  .toDoSection {
    margin: 20px auto;
    width: 98vw;
  }
  .listDiv {
    padding: 2vw;
    flex-direction: column;
  }
  .listContainer li::before {
    height: 30px;
    width: 30px;
    left: -1.5vw;
  }
  .listContainer {
    max-width: max-content;
    margin: 10px auto;
  }
  .listContainer li {
    font-size: 18px;
    width: 75vw;
  }
  .inputBox {
    width: 90vw;
    font-size: 18px;
    padding: 1.5vh 2vw;
  }
  ul li span {
    top: 0px;
    right: -5px;
  }
  .fa:before {
    font-size: 35px;
  }
  .fa-folder-plus:before {
    font-size: 100px;
  }
  .fa-regular{
    font-size: 100px;
  }
}

/* _________________footer____________________ */
footer {
  height: 30%;
  text-align: center;
  min-width: 100vw;
  padding: 10px 0;
  background-color: #222831;
}
footer p {
  margin: 5px;
  color: #e6e5e5;
}
footer a {
  background: white;
  border-radius: 50%;
  color: #1d222a;
  padding: 10px;
  transition: 0.6s;
}
footer i {
  padding: 10px 1px;
}
footer a:hover {
background-color: #222831;
color: #D8AE7E;
transition: 0.6s;
}
@media screen and (max-width: 700px) {
  footer {
    min-height: 25vh;
  }
}
.light_mode_header{
  background-color: #FFE0B5;
  color: #AFD198;
}
.light_mode_main{
  background-color: #F8C794;
  color: #E8EFCF;
}
.light_mode_footer{
  background-color: #D8AE7E;
  color: #E8EFCF;
}
.light_mode_navLinks{
  background-color: #FFE0B5;
  color: #D8AE7E;
}
.light_mode_listContainer{
  background-color: #FFE0B5;
  color: #D8AE7E;
}
.material-symbols-outlined {
  background-color: #222831;
  border-radius: 50%;
  border: 5px solid #1d222a;
  transition: 1.5s;
}
.material-symbols-outlined:hover {
  background-color: black;
  border: 5px solid black;
  transform: rotate(360deg);
  transition: 1.5s;
}